
html,body{
    width: 100vw;
    height:100vh;   
}
body {
    margin-left: 15px;
    background-image: url('/media/background-image2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Architects Daughter', cursive;
  }   
.web-gif{
    display:inline-block;
    position:absolute;
    right:0;
    top:0;
    height: 30%;
    width: 20%;
}
.logo{
    margin-bottom: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:30%;
}
.logo-footer{
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}
.container {
    border-radius: 25px;
    width: 25%;
    height: 25%;
    padding: 20px;
    box-sizing: border-box;
}
.container input, .container button {
    width: 100%;
    margin-bottom: 10px;
}
.pag-button{
    background-color: gold !important;
    border-color: white !important;
    color: rgb(0, 157, 255);
}
.login-button{
    background-color: rgb(0, 157, 255) !important;
    border-color: white !important;
}
h2{
    color: white;
}
p{
    display:inline-block    ;
    color: white;
}
.news{
    line-height: 2;
}
.home-bottom{
    padding:100px 0;
}
canvas{
    position:absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.page{
    position: relative;
    z-index: 1;
    pointer-events: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}
.home-top{
    height: 20%;
    width: 100%;
}
.home-middle{
    height: 40%;
    width: 100%;
}
.home-top{
    height: 40%;
    width: 100%;
}
.container{
    pointer-events: auto;
}
.home-footer{
    pointer-events: auto;
}
.home-footer{
    /* background-color: white; */
    /* border: 2px solid white; */
    border-radius: 5px;
    height: 10%;
    width: 100%;
    margin: auto;
    padding-bottom: 50px;
    text-align: center;
}
.footer-link{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.btn{
    background-color: gold;
}
.pop-up {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /* border-radius: 50px; */
}

/* Pop-up Content/Box */
.pop-up-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 80%;
    border-radius: 20px;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 38px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: gold;
    text-decoration: none;
    cursor: pointer;
}

/* The div inside the pop-up */
.inner-div {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 157, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pop-up-top{
    width: 100%;
}
.about-us{
    /* background-color: aquamarine; */
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.data{
    background-color: gold;
    width: 30%;
    height: 70%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: black;
    text-align: left;
}
.data-text{
    color: black;
}
.data-text1{
    color: rgb(0, 157, 255);
    font-weight: 600;
}
.links{
    display: flex;
    flex-direction: row;
    height: 10%;
    gap: 20px;
}
.gmail-icon{
    position:relative;
    /* top: -12px; */
}
.pop-head{
    font-size: 38px;
}
