
html,body{
    width: 100vw;
    height:100vh;   
}
body {
    margin-left: 15px;
    background-image: url('img/background-image2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }   
.web-gif{
    display:inline-block;
    position:absolute;
    right:0;
    top:0;
    height: 30%;
    width: 20%;
}
.logo{
    margin-bottom: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:30%;
}
.logo-footer{
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}
.container {
    border-radius: 25px;
    width: 25%;
    height: 25%;
    padding: 20px;
    box-sizing: border-box;
}
.container input, .container button {
    width: 100%;
    margin-bottom: 10px;
}
.btn-success{
    background-color: #7D7C7C !important;
    border-color: #7D7C7C !important;
}
h2{
    color: white;
}
p{
    display:inline-block    ;
    color: white;
}
.news{
    line-height: 2;
}
.home-bottom{
    padding:100px 0;
}
canvas{
    position:absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.page{
    position: relative;
    z-index: 1;
    pointer-events: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.home-top{
    height: 20%;
    width: 100%;
}
.home-middle{
    height: 40%;
    width: 100%;
}
.home-top{
    height: 40%;
    width: 100%;
}
.container{
    pointer-events: auto;
}
/* .home-footer{
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
    height: 10%;
    width: 100%;
    margin: auto;
    padding: 10px;
    text-align: center;
}
.footer-link{
    text-decoration: none;
    color: black;
    font-size: 20px;
} */

