html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding:0 10px 0;
    font-family: "Neue Montreal";
    display: flex;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
    background: #313131;
}
.board{
    margin-top: 10px;
    height: 60%;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    border:solid 2px black;
    border-radius: 2%;
}
.board-div{
    height: 100px;
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#clock{
    height: 100px;
    margin-top: 10px;
}
.h-line{
    size: 5px;
    color:white;
    width:100%;
    margin-bottom: 0;
}
.bar{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.word{
    height : 50px;
    display: flex;
    align-items: center;
}
.field{
    margin:10px 10px 10px;
    padding:2px;
    border: solid 5px white;
    border-radius: 1%;
}
canvas{
    box-shadow: -3px 2px 15px 6px black;
    /* cursor:url(Curser/pencil.cur); */
    align-self:center;
    
}

.tools{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
}

.tools .button{
    align-self: center;
    width: 50px;
    height: 40px;
    border: 2px solid white;
    cursor:pointer;
    color: white;
    background:#222;
    font-weight: bold;
    margin: 0 10px;    
}

.tools .shape-field{
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid white;
    align-self: center;
    margin: 0 10px; 
}

/* ----change--- back-color chnage krna h */
.selected{
    scale: 1.2;
    background-color: rgb(255, 81, 0);
}

.color-picker{
    align-self: center;
    margin: 0 10px; 
    height: 50px;
    width: 50px;
}

.pen-range{
    align-self: center;
    margin: 0 10px; 
    width:80px;
}

.chat{
    margin-top: 10px;
    height: 80%;
    width: 250px;
    border: solid 2px black;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.chat-div{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#round-number{
    height:60px;
    display:flex;
    align-items: center;
}

#chat-container{
    margin-top:2px;
    height:60%;
}



